<ion-header class="listing-header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div style="display: flex;
		align-items: center;">
      <span style="flex: 1;">
        <ion-searchbar [showCancelButton]="shouldShowCancel" [(ngModel)]="searchText"(ionFocus)="onSearchbarFocus()"></ion-searchbar>
      </span>
       
      <span>
        <a><img src="../../assets/images/homeHeader/target.png"/></a>
      </span>
      
      <span *ngIf="authService.authenticated()">
        <a (click)="onNotificationPage()"><img src="../../assets/images/homeHeader/envelope.png"/></a>
      </span>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="listing-content">
  <background-image class="image-heading" [src]="listing.banner_image">
    <ion-row class="heading-row">
      <ion-col no-padding offset-100>
        <h2 class="main-title">{{listing.banner_title}}</h2>
      </ion-col>
    </ion-row>
  </background-image>
  <h4 class="categories-title">{{'POPULAR' | translate}}</h4>
  <ion-scroll scrollX="true" class="horizontal-categories">
    <ion-row class="categories-row">
      <ion-col width-30 class="horizontal-item"  *ngFor="let popular of listing.populars">
        <preload-image [ratio]="{w:1, h:1}" [src]="popular.image" title="popular.title" *ngIf="selectedCategory == popular.title" class="selectedCategory"></preload-image>
        <a (click)="onCategory(popular)"><preload-image [ratio]="{w:1, h:1}" [src]="popular.image" title="popular.title" *ngIf="selectedCategory != popular.title"></preload-image></a>
      </ion-col>
    </ion-row>
  </ion-scroll>

    <ion-card *ngFor="let post of posts">
      <ion-card-content>
        <ion-slides pager loop="true">
          <ion-slide *ngFor="let slide of post.images">
            <preload-image src="{{slide}}" [ratio]="{w:1, h:1}" (click)="toImageView(post)"></preload-image>
          </ion-slide>
        </ion-slides>
        <ion-row>
          <ion-col width-75>
            <a>
              model
            </a>
          </ion-col>
          <ion-col width-25>
            <p>{{post.date}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>{{post.address}}</p>
          </ion-col>
        </ion-row>

        <ion-row no-padding class="actions-row">
          <ion-col no-padding width-30 text-left>
            <button class="action-button" ion-button clear small  icon-left (click)="likePoast(post)">
              <ion-icon isActive="{{post.liked}}" name='heart' color="danger" *ngIf="post.meLikes"></ion-icon>
              <ion-icon isActive="{{post.liked}}" name='heart' color="dark" *ngIf="!post.meLikes"></ion-icon>
                {{post.likesCount}} {{'LIKES' | translate}}
            </button>
          </ion-col>
            <ion-col no-padding width-45 text-center>
              <button class="action-button" ion-button clear small icon-left (click)="commentPost(post)">
                <ion-icon name='chatbubbles' color="danger"></ion-icon>
                  {{post.commentsCount}} {{'COMMENTS' | translate}}
              </button>
            </ion-col>
            <ion-col no-padding width-25 text-right>
              <button class="action-button" ion-button clear small icon-left (click)="sharePost(post)">
                <ion-icon name='share-alt'></ion-icon>
                {{'SHARE' | translate}}
              </button>
            </ion-col>
          </ion-row>

          <ion-row >
            <ion-col>
              <p>
                {{post.comments[0].name}} {{':   '}} {{post.comments[0].comment}}
              </p>
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col>
              <p>
                {{post.comments[1].name}} {{':   '}} {{post.comments[1].comment}}
              </p>
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col>
              <p>
                {{post.comments[2].name}} {{':   '}} {{post.comments[2].comment}}
              </p>
            </ion-col>
          </ion-row>

      </ion-card-content>        
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doPostsInfinite($event)" *ngIf="infiniteScrollVisible">
      <ion-infinite-content>
        <div style="margin: 0 auto;">
          <p style="text-align: center;">
            Loading
          </p>
        </div>
      </ion-infinite-content>
    </ion-infinite-scroll>

</ion-content>
