<ion-header class="login-header auth-header">
  <ion-navbar>
    <ion-title>{{'SIGN_IN' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content auth-content">

  <img src="../assets/images/user/unregister.png" class="userImage" />

  <ion-segment class="user-content-segment" [(ngModel)]="display" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="login" (ionSelect)="onSegmentSelected($event)">
      Log In
    </ion-segment-button>
    <ion-segment-button value="signup" (ionSelect)="onSegmentSelected($event)">
      Sign Up
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="displayTab">
    <div *ngSwitchCase="'login'">
      <button ion-button block class="google-auth-button" (click)="doGoogleLogin()">Log in with Google</button>
      <form class="login-form auth-form" [formGroup]="login" (ngSubmit)="doLogin()">
        <ion-item>
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        </ion-item>
        <show-hide-container>
          <ion-item>
            <ion-input type="password" placeholder="Password" formControlName="password" show-hide-input></ion-input>
          </ion-item>
        </show-hide-container>
        <button ion-button block clear class="forgot-button" (click)="goToForgotPassword()">{{'FORGOT_PASSWORD?' | translate }}</button>
        
      </form>
    </div>
    <div *ngSwitchCase="'signup'">
      
    </div>
  </div>
</ion-content>

<ion-footer>
  <button *ngIf="displayTab == 'login'" ion-button block class="auth-action-button login-button" type="submit" [disabled]="!login.valid">{{'LOG_IN' | translate}}</button>

  <button *ngIf="displayTab == 'signup'" ion-button block class="auth-action-button login-button" type="submit" [disabled]="!login.valid">{{'SIGN_UP' | translate}}</button>

</ion-footer>