page-imageview-detail {
    
    .main-content{
       .map-view{
           width: 100vw;
           height: 67vw;
           display: block;
            object-fit: cover
       }
    }
    
    .footer-item
    {
        height: 50px;
        display: flex;
        align-items: center;
        background-color: #5b9bd5;
        padding: 0px !important;

        

        .footer-image {
            background-color: white;
            .user-image
            {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }

        .footer-content{
        }

        .item-title{
            font-size: 200%;
            color: white;
            text-align: center;
        }

        .item-time
        {
            font-size: 1.2rem;
            font-weight: 500;
            color: $white-d;
            margin: 0px;
            padding-left: 8px;
            @include align-self(flex-start);
        }
        .item-time .del-button
        {
            background-color: white;
        }
    }
}
