<ion-menu [content]="content" [swipeEnabled]="false">
  <ion-content class="menu-content">
    <ion-list class="menu-list">
      <div>
        <img *ngIf="authService.authenticated()" src="../assets/images/user/register.png" class="userImage" />
        <img *ngIf="!authService.authenticated()" src="../assets/images/user/unregister.png" class="userImage" />
      </div>
      <button ion-item detail-none *ngFor="let page of pages" (click)="pushPage(page)">
        <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
        {{page.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
